<%= javascript_pack_tag 'hello_coffee' %>
<div id="resultados" class="alert alert-primary" role="alert">
     <%= @autor %>
     <%= @busco %>
     
</div>

<%= form_tag "#", method: :get, remote:false , id:"search-form" do %>
<%= text_field_tag :keyword, nil, placeholder: "Buscar aqui" %>
<%= content_tag :button, type: :submit do %>
buscar
<%end%>
<%end%>


   <form class="form-inline my-2 my-lg-0" id="search-form2" action="/search/create" method="get" data-remote="true" >
     <input class="form-control mr-sm-2" type="search" name="keyword" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>
   
<script>
$ (document).ready(function() {
   console.log("jquery");
    $("#resultados").click(function() {
        alert ("hola jquery");
    });
});

</script>



