<h1>Welcome#welco</h1>
<p>Find me in app/views/welcome/welco.html.erb</p>
<div id="resultados">
     <%= @autor %>
     <%= @busco %>
</div>



   <form class="form-inline my-2 my-lg-0" id="search-form2" action="form" method="get" data-remote="true" >
     <input class="form-control mr-sm-2" type="search" name="keyword2" placeholder="Search" aria-label="Search">
     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   </form>


<%= form_tag "form", method: :post, remote:true , id:"search-form2" do %>
<%= text_field_tag :keyword3, nil, placeholder: "Buscar aqui" %>
<%= content_tag :button, type: :submit do %>
buscar
<%end%>
<%end%>